.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.featureSvg {
  width: max(1030);
}

.featureContent {
  padding-left: 15px;
  padding-right: 15px;
}

.featureTitle {
  font-size: 36px;
  font-weight: 500;
}

.featureText {
  text-align:justify
}

.featuresTextButton {
  margin: auto;
}