.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  width: max(1030);
}

.featuresTextButton {
  margin: auto;
}

.featureImage {
  height: 100%;
  padding: var(--wdio-spacing-vertical) var(--ifm-spacing-horizontal)!important;
}

@media (max-width: 996px) {
  .featureContent {
    padding: var(--wdio-spacing-vertical) 0 calc(var(--wdio-spacing-vertical) * 4) calc(var(--ifm-spacing-horizontal) + 20px)!important;
  }

  .featureImage {
    padding: calc(var(--wdio-spacing-vertical) * 4) var(--ifm-spacing-horizontal) var(--wdio-spacing-vertical)!important;
  }
}

@media (max-width: 500px) {
  .featureContent {
    padding: var(--wdio-spacing-vertical) var(--ifm-spacing-horizontal) calc(var(--wdio-spacing-vertical) * 4) var(--ifm-spacing-horizontal)!important;
  }

  .featureImage {
    padding: calc(var(--wdio-spacing-vertical) * 4) var(--ifm-spacing-horizontal) var(--wdio-spacing-vertical)!important;
  }
}

.featureTitle {
  font-size: 36px;
  font-weight: 500;
}

.featureText {
  text-align:justify
}